APP_NAME="DOCIGP - Alerj"
APP_NAME_MEDIUM="DOCIGP - Descentralização Orçamentária - Alerj"
APP_NAME_LONG="DOCIGP - Descentralização Orçamentária de Custeio Individualizado para Gabinete Parlamentar - Alerj"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=error
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_DATABASE=##TROCAR##
DB_USERNAME=##TROCAR##
DB_PASSWORD=##TROCAR##

BROADCAST_DRIVER=pusher
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

APP_AUTHENTICATION_ENABLED=true
APP_AUTHENTICATION_MOCKED=false

REMOTE_REQUEST_TIMEOUT=20

DOCUMENTS_FILESYSTEM_DRIVER=documents
DOCUMENTS_FILESYSTEM_SUB_DIR=documents

#Define the number of events of each type allowed per second. <EVENTS_THROTTLE_ALLOW> events per <EVENTS_THROTTLE_EVERY> seconds.
EVENTS_THROTTLE_ALLOW=1
EVENTS_THROTTLE_EVERY=15