
// FontAwesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Tile
@import 'tile';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Styles
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

td:first-child, th:first-child {
  padding-left: 15px !important;
}

td:last-child, th:last-child {
  padding-right: 15px !important;
}

th {
  background-color: #0a008a;
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-filters {
  background: $grey-lighter03;
}

.bg-primary {
  background: $blue-lighter02;
}

.bg-cyan {
  background-color: $cyan-light;
}

.form-check-input {
  position: relative;
  margin-left: 0 !important;
}

.fa-align-middle {
  vertical-align: middle;
}

.btn.disabled, .btn:disabled {
  opacity: 0.35;
}

.modal-backdrop {
  opacity: 0.6 !important;

  // Fade for backdrop
  &.fade { opacity: 0.6; }
  &.show { opacity: 0.6; }
}

.navbar, .navbar>.container, .navbar>.container-fluid {
  display: block ;
}
